<ion-view view-title="Search for a Judge">
  <ion-list>
    <ion-item class="bar bar-header bar-royal">
      <h1 class="title">Judge Name:</h1>
    </ion-item>
    <ion-item>
      <input type="text" <ion-searchbar [(ng-model)]="defaultSearch" placeholder="First Name"></ion-searchbar>
    </ion-item>
    <ion-item>
      <input type="text" <ion-searchbar [(ng-model)]="defaultSearch" placeholder="Last Name"></ion-searchbar>
    </ion-item>
    <button class="button button-block button-positive">Submit</button>

  </ion-list>



</ion-view>
