<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="text-center">
            <h3 style="text-align: center;">Welcome to</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
            <h1 style="text-align: center;">Judge Prefs!</h1>
        </div>
      </div>
    </div>
    <img src="img/judgeprefslogo.png"  height="500" width="500"></img>
    <h1>
      Use the tabs at the bottom to search for judges and enter round reports.
    </h1>
  </ion-content>
</ion-view>
