<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="row">
      <div class="col">
        <div class="text-center">
            <h3 style="text-align: center;">Welcome to</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
            <h1 style="text-align: center;">Judge Prefs!</h1>
        </div>
      </div>
    </div>

    <img src="img/judgeprefslogo.png" class="center" height="300" width="300"></img>

    <div class="row">
      <div class="col">
        <div class="text-center">
            <h4 style="text-align: center;">
              Use the tabs to search for judges and submit round reports.
            </h4>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
