<ion-view view-title="Add Round Report">
    <ion-content ng-controller="rrCtrl" class="padding">

      <ion-list>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Judge Name:</h1>
        </ion-item>
        <ion-item>
          <input type="text" ng-model="judge.firstName" placeholder="First Name">
        </ion-item>
        <ion-item>
          <input type="text" ng-model="judge.lastName" placeholder="Last Name">
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item class="bar bar-header bar-royal">
            <h1 class="title">Speed Preference:</h1>
          </ion-item>
          <div class="list">
            <div class="item range range-positive">
              <input type="range" min="0" max="10" ng-model="judge.speedPref">
              <ion-label> {{judge.speedPref}} out of 10</ion-label>
            </div>
          </div>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Affirmative Type:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.trad_aff" name="aff_group">Traditional Aff</ion-radio>
          <ion-radio ng-model="judge.k_aff" name="aff_group">Kritikal Aff</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">2NR Choice:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.t" name="2nr_group">Topicality</ion-radio>
          <ion-radio ng-model="judge.k" name="2nr_group">Kritik</ion-radio>
          <ion-radio ng-model="judge.cp" name="2nr_group">Counterplan</ion-radio>
          <ion-radio ng-model="judge.da" name="2nr_group">Disadvantage</ion-radio>
          <ion-radio ng-model="judge.it" name="2nr_group">Impact Turn</ion-radio>
        </ion-item>
      </ion-list>

      <ion-list radio-group>
        <ion-item class="bar bar-header bar-royal">
          <h1 class="title">Winner:</h1>
        </ion-item>
        <ion-item>
          <ion-radio ng-model="judge.aff" name="decision_group">Affirmative</ion-radio>
          <ion-radio ng-model="judge.neg" name="decision_group">Negative</ion-radio>
        </ion-item>
      </ion-list>

      <button ng-click="rrNext()" class="button button-block button-positive">
        Next
      </button>

    </ion-content>
</ion-view>
